@model IEnumerable<SharedTravelBG.Models.Trip>
@{
    ViewData["Title"] = "Trips I Organized";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>You haven’t organized any trips yet. <a asp-action="Create">Create one now.</a></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Route</th>
                <th>Date</th>
                <th></th>
                <th>Time</th>
                <th></th>
                <th>Participants</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model)
            {
                <tr>
                    <td>@trip.DepartureTown → @trip.DestinationTown</td>
                    <td>@trip.TripDate.Date.ToString("MM/dd/yy")<td>      
                    <td>@trip.PlannedStartTime.ToString(@"hh\:mm")<td>
                    <td>@(trip.Participants?.Count ?? 0) / @trip.MaxParticipants</td>



                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@trip.Id">Details</a>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@trip.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
