@model IEnumerable<SharedTravelBG.Models.RentingCompany>

@{
    ViewData["Title"] = "Наемни компании";
}

<h1>Наемни компании</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Добави нова компания за наем</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Адрес</th>
            <th>Телефонен номер</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Address</td>
                <td>@company.PhoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id="@company.Id">Подробности</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@company.Id">Редактирай</a>
                        <a asp-action="Delete" asp-route-id="@company.Id">Изтрий</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
