@model IEnumerable<SharedTravelBG.Models.Review>

@{
    ViewData["Title"] = "Моите отзиви";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>Все още не сте написали отзиви. <a asp-action="Create">Напишете отзив сега.</a></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Пътуване</th>
                <th>Оценка</th>
                <th>Коментар</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rev in Model)
            {
                <tr>
                    <td>@rev.Trip.DepartureTown → @rev.Trip.DestinationTown</td>
                    <td>@rev.Rating</td>
                    <td>@rev.Content</td>
                    <td>
                        <a class="btn btn-sm btn-info"
                           asp-action="Details"
                           asp-controller="Trips"
                           asp-route-id="@rev.TripId">Подробности за пътуването</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
